################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MouseMaze/v14/.suo
/Debug/MouseMaze.exe
/Debug/MouseMaze.ilk
/Debug/MouseMaze.pdb
/MouseMaze.VC.db
/MouseMaze.VC.VC.opendb
